//div.Canvas
pre.CodeContainer
{

    font-family: Lucida Console, Georgia;

    font-size: 13px;

    background-color: #ECECEC;

    color: #000000;

    border: solid 1px #CECECE;

    padding: 5px;

    ::ng-deep .ObjectBrace
    {

        color:#00AA00;
        font-weight:bold;
    }

    ::ng-deep .ArrayBrace
    {
        color:#0033FF;
        font-weight:bold;
    }

    ::ng-deep .PropertyName
    {
        color:#CC0000;
        font-weight:bold;
        height: 100%;
    }

    ::ng-deep .String
    {
        color:#007777;
    }

    ::ng-deep .Number
    {
        color:#AA00AA;
    }

    ::ng-deep .Boolean
    {
        color:#0000FF;
    }

    ::ng-deep .Function
    {
        color:#AA6633;
    }

    ::ng-deep .Null
    {
        color:#0000FF;
    }

    ::ng-deep .Comma
    {
        color:#000000;
        font-weight:bold;
    }

    ::ng-deep .Error
    {
        color:#FF0000;
    }

    ::ng-deep PRE.CodeContainer
    {
        margin-top:0px;
        margin-bottom:0px;
    }

    ::ng-deep PRE.CodeContainer img
    {
        cursor:pointer;
        border:none;
        margin-bottom:-1px;
    }

    ::ng-deep A.OtherToolsLink:hover { text-decoration:underline; }
    ::ng-deep A.OtherToolsLink { color:#555;text-decoration:none; }

    ::ng-deep div.auto{
        margin: 0px; padding: 0px;
        display: inline-block;
        min-height: 0px;
        min-width: 0px;
        overflow: visible;
        //:after{
        //    content: '';
        //    height: 1px;
        //    background-color: red;
        //}
    }
    ::ng-deep .mrrow {display:inline-flex;margin: 0px;padding: 0px;flex-direction: column;}
    ::ng-deep .mrcolumn {display:inline-flex;margin: 0px;padding: 0px;}
    ::ng-deep .mrindent0 { width: 0px;}
    ::ng-deep .mrindent1 { width: 10px;}
}

#CollapsibleViewDetail a{
    padding-left:10px;
}
#ControlsRow{
    white-space:nowrap;
    font: 11px Georgia;

}
#TabSizeHolder{
    padding-left:10px;
    padding-right:10px;
}
#HeaderTitle{
    text-align:right;
    font-size:11px;
}
#HeaderSubTitle{
    margin-bottom:2px;
    margin-top:0px
}
#RawJson{
    width:99%;
    height:120px;

}


