<div class="grid">
  <div class="content">
    <div>
      <h2 id="{{title}}">{{title}}</h2>
    </div>
    <div>
      <mat-form-field class="full-width">
        <textarea matInput rows="5" placeholder="请输入..." [(ngModel)]="inputJSON" (ngModelChange)="format()" class="full-width">
        </textarea>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="quotes" (ngModelChange)="toggleQuotes()" >引号</mat-checkbox>

      <div>
        <pre *ngIf="formattedJson" class="CodeContainer" [innerHTML]="formattedJson | safeHtml"></pre>
      </div>
      <br>
      <!--<button mat-button (click)="format()">格式化</button>-->
    </div>
  </div>
</div>
