<div class="grid">
    <div class="content">
        <div>
            <h2 id="{{title}}">{{title}}</h2>
        </div>
        <div>
            <mat-form-field class="full-width">
                <textarea matInput rows="2" placeholder="请输入..." [(ngModel)]="inputValue" (ngModelChange)="dataChanged()" class="full-width"></textarea>
            </mat-form-field>
            <canvas id="mr-qr" height="20" width="20"></canvas>
            <br>
            <button mat-button *ngIf="inputValue" (click)="saveRQImage()">下载二维码</button>
        </div>
    </div>
</div>
