
.input {
  border: 1px #eaeaea solid;
  width: 100%;
  display: block;
}

.btn {
  background-color: #59a8e1;
  height: 45px;
  width: 140px;
  margin: 15px 15px 15px 0;
  color: #fff;
  font-size: 16px;
}
