<div>

  <div class="item">
    <mat-checkbox [(ngModel)]="useEn" (ngModelChange)="generate()" >小写英文: {{english}}</mat-checkbox>
  </div>
  
  <div class="item">
    <mat-checkbox [(ngModel)]="useEN" (ngModelChange)="generate()" >大写英文: {{ENGLISH}}</mat-checkbox>
  </div>

  <div class="item">
    <mat-checkbox [(ngModel)]="useNum" (ngModelChange)="generate()" >数字: {{number}}</mat-checkbox>
  </div>

  <div class="item">
    <mat-checkbox [(ngModel)]="useSm" (ngModelChange)="generate()" >符号: {{symbol}}</mat-checkbox>
  </div>

  <div class="item">
    <mat-form-field class="full-width">
      <textarea matInput rows="1" placeholder="添加额外自定义符号..." [(ngModel)]="inputSm" (ngModelChange)="generate()" class="full-width">
      </textarea>
    </mat-form-field>
  </div>

  <h3>生成密码</h3>

  <div class="item">
    <mat-form-field>
      <textarea matInput rows="1" placeholder="输入密码长度..." [(ngModel)]="inputLen" (ngModelChange)="generate()" class="full-width">
      </textarea>
    </mat-form-field>
  </div>

  <div class="item">
    <span>
      {{ pwd }}
    </span>
  </div>

</div>
