* {
  box-sizing: border-box;
}

/* 干掉input、textarea的焦点边框 */
/* input,button,select,textarea { outline:none; } */

.AppHead {
  text-align: center;
  border-bottom: #d2d2d2 1px solid;
}

/* Header */
div.tool-header {
  padding: 2rem 0 3rem 0;
  background-color: white;
}

H1.tool-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.none {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li.header {
  display: inline;
  margin: 0 0.7rem;
}

li a {
  color: black;
  text-decoration: none;
}

li a.active {
  color: green;
}

/* Center Content */
.AppCenter {
  text-align: left;
  /* background-color: #F5F7F9; */
}

.Content {
  width: 80%;
  margin: 0rem auto;
  padding: 2rem 0;
}

textarea {
  width: 100%;
  font-size: 1rem;
  -webkit-user-select: text;
  border:0;
  border-radius:5px;
  background-color:rgba(241, 241, 241, .98);
  padding: 10px;
  resize: vertical;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: rgb(30, 102, 30);
  font-size: 0.9rem;
  border-radius: 0.45rem;
  padding: 0.2rem 1rem;
}

p.buttons {
  text-align: left;
}

button:hover {
  background-color: white;
  cursor: pointer;
  color: green;
}

button:active { background-color:inherit}

/* Footer */

.footer {
  background-color: #20232A;
  color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .footer-logo-1 {
    animation: Footer-logo-spin infinite 20s linear;
  }
  .footer-logo-2 {
    animation: Footer-logo-spin-2 infinite 20s linear;
  }
}

@keyframes Footer-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Footer-logo-spin-2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

ul.none {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.mrTable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid grey;
  /* height: 500px;  */
}

.mrTable .mr2Row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  width: 100%;
  /* align-items: center; */
  /* min-height: 80px; */
  align-items: stretch;
  overflow:hidden;
  /* height: 100%;  */
}

.mrTable .mr2Row:last-child {
  border: 0;
}

.mrTable .mr2Row:nth-of-type(even) {
  background:#d2d2d2;
}

/* .mr2Row :nth-child(odd)
{
  background:#ff0000;
} */

/* .mrTable :nth-of-type(2)
{
  background:#ff0000;
} */

/*
flex-basis: 子项的占用空间;如果设置了值，则子项占用的空间为设置的值；如果没设置或者为 auto，那子项的空间为width/height 的值。
flex-grow: 用来“瓜分”父项的“剩余空间”；未设置默认为0。
flex-shrink: 用来“吸收”超出的空间;当父容器不够大时，超出的部分需要由子项来吸收掉；未设置默认为1。
*/

.mr2Cell {
  padding: 1em;
  margin: 0px;
  /* height: 10px; */
  /* line-height: 1; */
  /* overflow: hidden; */
  height: 100%; 
  align-self: center;
}

.mr2Cell:nth-of-type(1) {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 20%;
  border-right: 1px solid grey;
}

.mr2Cell:nth-of-type(2) {
  flex-shrink: 1;
  flex-grow: 1;
  /* align-self: center; */
}

/* 时间戳 样式开始*/

.unixtimeWrap {
  text-align: left;
}

.uts{
  text-align: left;
}

.utsHead {
  line-height: 30px;
  font-size: 16px;
  color: #0474c8;
  padding: 10px 0px;
}

.uts_table {
  color: #545457;
  font-size: 1rem;
}

.uts_left_cell {
  font-weight: bold;
}
/* 时间戳 样式结束 */

pre.CodeContainer {
  background-color: #ECECEC;
  color: #000000;
  border: solid 1px #CECECE;
  padding: 5px;
  text-align: left;
  font-family: 'Microsoft YaHei';
  margin: 0;
}

pre.CodeContainer .ObjectBrace
{
  color:#00AA00;
  font-weight:bold;
}

pre.CodeContainer .ArrayBrace
{
        color:#0033FF;
        font-weight:bold;
}

pre.CodeContainer .PropertyName
{
    color:#CC0000;
    font-weight:bold;
    height: 100%;
}

pre.CodeContainer .String {
  color: #007777;
  word-wrap: break-word;
}

pre.CodeContainer .Number {
  color: #AA00AA;
}

pre.CodeContainer .Boolean {
  color: #0000FF;
}

pre.CodeContainer .Function {
  color: #AA6633;
}

pre.CodeContainer .Null {
  color: #0000FF;
}

pre.CodeContainer .Comma {
  color: #000000;
  font-weight: bold;
}

pre.CodeContainer .Error {
  color: #FF0000;
}

pre.CodeContainer PRE.CodeContainer {
  margin-top: 0px;
  margin-bottom: 0px;
}

pre.CodeContainer PRE.CodeContainer img {
  cursor: pointer;
  border: none;
  margin-bottom: -1px;
}

pre.CodeContainer A.OtherToolsLink:hover {
  text-decoration: underline;
}

pre.CodeContainer A.OtherToolsLink {
  color: #555;
  text-decoration: none;
}

pre.CodeContainer div.auto{
        margin: 0px; padding: 0px;
        display: inline-block;
        min-height: 0px;
        min-width: 0px;
        overflow: visible;
      /* 解决外层包了一个div之后，底部高度增加了 5px问题 */
        /* font-size: 0px; */
        line-height: 1;
}

pre.CodeContainer .mrrow {
  font-size: 13px;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}

pre.CodeContainer .mrcolumn {
  font-size: 13px;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

pre.CodeContainer .mrindent0 {
  width: 0px;
  margin: 0px;
  font-size: 0px;
}

pre.CodeContainer .mrindent1 {
  width: 10px;
  font-size: 0px;
}

pre.CodeContainer span {
  font-size: 13px;
  line-height: 1.5;
}

/* PASSWORD BEGIN */
.item{
  margin: 10px 0px;
}

.item span{
  height: 24px;
}

.error{
  color: red;
}

#pwd-txt {
  padding: 10px 0;
  word-break: break-all;
  /* background-color: thistle; */
}

#pwd-txt textarea {
  font-size: large;
  max-height: 1000px;
}

#pwd-length {
  display: flex;
  align-items: center;
}

#pwd-length-txt {
  max-width: 100px;
  font-size: 1.2em;
  overflow: hidden;
  resize: none;
}

#pwd-length-copy {
  display: inline-block;
  background: url(./clippy.svg) 50% 50% no-repeat;
  background-size: 1.2em;
  padding: 0px 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  /* border: 1px solid #d5d5d5; */
  /* 
  border-top: 0;
  border-right: 0; */
  
}

/* Footer style */
.footer a{
  color: white;
}
/* PASSWORD END */