/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*,:after,:before {
    box-sizing: border-box
}

html body div {
    margin: 0px;
    padding: 0px;
}

html body{
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height:1.5;
    background-color: #f5f7f9;
}

.container{
    padding: 0 6rem;
    margin: 0 auto;
}

/*Css3 Media Queries*/

@media screen and (max-width: 720px) {
    .container{
        padding: 0 4rem;
    }
}


@media screen and (max-width: 480px) {
    .container{
        padding: 0 2rem;
    }
}



.grid {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: inherit;
}

.content{
    padding: 35px;
}

select{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

a:hover{
    color: rgba(0, 0, 0, 0.75);
}

table.t1,
table.t1 tr,
table.t1 td {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px rgba(0,0,0,0.2) solid;
}

table.t1 {
    margin: 20px 0px;
    width: 100%;
}

table.t1 td {
    padding: 15px;
}
table.t1 td.first {
    width: 10%;
    word-break: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
}

table.t1 td.second {
    width: 90%;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
}

.separating{
    height: 5px;
    background-image: linear-gradient(to right, #e2f5dc, #f5f5dc, #59a8e1);
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-width {
    width: 100%;
}

p {
    line-height: 2rem;
}
